{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Synai {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block stylesheet %} {% endblock %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
{% block navbar %}
    {% include  '_items/navbar.html' %}
{% endblock %}

{% block body %}
{% endblock %}

<div class="container-fluid">
    <div class="row justify-content-center text-justify">
        <div class="col-lg-8 col-md-10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% block js_search %}
{% endblock %}

{% block js_graph %}
{% endblock %}
</body>
</html>
