{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Dashboard</h1>
        </div>
        <div class="row justify-content-center">
            <p>Hello {{ username }}.</p>
        </div>
        <div class="row justify-content-center">
            <p>Here's the summary of all the analyses you performed.</p>
        </div>
        {% if summarised_dataset == None %}
        <div class="row justify-content-center">
            <p>Oh, it seems you never used our song analyser !</p>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div id="graph" class="col-lg-12" style="height: 350px;"></div>
        </div>
        <div class="row justify-content-center">
            <p>Go to <a href="{% url 'feed' %}" class="custom_underline">Feed</a> to analyse more of your favorite songs or to <a href="{% url 'history' %}" class="custom_underline">History</a> to explore your previous habits !</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js_graph %}
<script type="text/javascript" src="{% static '/js/graph.js' %}"></script>
{% endblock %}

{% block js_template %}
<script type="text/javascript">

</script>
{% endblock %}
