{% extends 'base.html' %}
{% load static %}
{% block title %}Feed{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Feed</h1>
        </div>
        <div class="row justify-content-center">
                <p>this page will ask you to chose one of this following object and then will show you stats about it </p>
        </div>

        <div class="row justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="true">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-playlist-tab" data-toggle="pill" href="#pills-playlist" role="tab" aria-controls="pills-playlist" aria-selected="false">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">History</a>
                </li>
            </ul>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">
                        <form class="form-inline row justify-content-center" search-result-url="{% url "search_results" %}">
                            <input class="form-control col-6" type="search" placeholder="Search" id="search_field" aria-label="Search">
                            <button class="btn btn-success m-2 col-4" type="button" id="search_button">Search</button>
                        </form>
                        <div class="row justify-content-center" id="search-content"></div>
                    </div>
                    <div class="tab-pane fade" id="pills-playlist" role="tabpanel" aria-labelledby="pills-playlist-tab-tab">
                        {% if user_playlists %}
                            {% include  "_items/playlist_entries.html" %}
                        {% else %}
                            <p>Oh, it's seems you havn't any playlists ! Create one and to analyse it.</p>
                            <p>{{user}}</p>
                        {% endif%}                        
                    </div>
                    <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab-tab">
                        <p> {% lorem %} </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="analyse_results"></div>
    </div>
{% endblock %}

{% block js_search %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#search_button").click(function(){
        var search_field_input = $("#search_field").val();
        var form = $(this).closest("form");
        $.ajax({
            url: form.attr("search-result-url"),
            type: 'GET',
            data: {
                'search_input': search_field_input
            },
            dataType: 'html',
            success: function(data) {
                $("#search-content").html(data);
            }
        });
    });
</script>
{% endblock %}

{% block js_feedgraph %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js" integrity="sha256-q4eNahhjrmTWF+LAesQ+rDagZhwcegBpS7qE0UAjJx4=" crossorigin="anonymous"></script>
    <script src="{% static '/js/graph.js' %}"></script>
    <script type="text/javascript">
    
    let charts = [];
    window.onresize = function()
    {
        charts.forEach(function (element) {
            element.chart.resize();
        });
    };

   </script>
{% endblock %}
