{% extends 'base.html' %}
{% load static %}
{% block title %}Feed{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Feed</h1>
        </div>
        <div class="row justify-content-center">
                <p>Choose one of the following and start analyzing your music's audio features such as danceability and energy ! </p>
        </div>

        <div class="row justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="true">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-playlist-tab" data-toggle="pill" href="#pills-playlist" role="tab" aria-controls="pills-playlist" aria-selected="false">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false" onclick="analyseHistory()">History</a>
                </li>
            </ul>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">
                        <form class="form-inline row justify-content-center">
                            <input class="form-control col-6 col-lg-5" type="search" placeholder="Search" id="search_field" aria-label="Search">
                            <button class="btn btn-success m-2 col-3 col-sm-2" type="button" id="search_button">Search</button>
                        </form>
                        <div class="row justify-content-center" id="search-content"></div>
                </div>
                    <div class="tab-pane fade" id="pills-playlist" role="tabpanel" aria-labelledby="pills-playlist-tab">
                    </div>
                    <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
                        {% include "_items/user_songs_history.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div id="analyse_results">
        </div>
    </div>
{% endblock %}

{% block js_graph %}
<script type="text/javascript" src="{% static '/js/graph.js' %}"></script>
{% endblock %}

{% block js_template %}
<script type="text/javascript" src="{% static 'js/feed.js' %}"></script>
{% endblock %}

