{% extends 'base.html' %}
{% load static %}
{% block title %}History{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>History</h1>
        </div>
        <div class="row justify-content-center">
            <p>You made {{ analysis_len }} analyses and analysed {{ all_songs_len }} songs in total.</p>
        </div>
        <div class="row justify-content-center input-group mb-3">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by...
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'history' %}">Newest</a>
                    <a class="dropdown-item" href="{% url 'history' %}?sort=desc">Oldest</a>
                </div>
            </div>
        </div>
        {% include  '_items/analysis_history_entries.html' %}
    </div>
{% endblock %}
{% block js_history %}
    <script src="{% static '/js/graph.js' %}"></script>
    <script type="text/javascript" async>

    let charts = [];
    {% for analy_id, dataset in analysis_dataset.items %}
    charts.push(new LinesChart('graph{{ analy_id }}', {{ dataset |safe }}, 'LinesChart'));
    {% endfor %}

    window.onresize = function()
    {
        charts.forEach(function (element) {
            element.chart.resize();
        });
    };
    </script>
{% endblock %}