{% extends 'base.html' %}

{% block title %}Song | {{ song.song_name }}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1 class="display-4">{{ song.song_name }}</h1>
      <p class="lead text-muted">This is a display test page for deployment and early development.</p>
      <hr/>

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Danceability</th>
            <th>Artist(s)</th>
            <th>Album</th>
            <th>Actions</th>
          </tr>
        </thead>

        {% for song in object_list %}
        <tr>
            <td>
              {{ song.pk }}
            </td>
            <td>
              {{ song.song_name }}
            </td>
            <td>
              {{ song.audio_features.danceability|floatformat:2 }}
            </td>
            <td>
              {% for artist in song.artists.all %}
                {{ artist.artist_name }}
                
              {% endfor %}
            </td>
            <td>
              {{song.album.album_name}}
            </td>
            <td>
              <a href="{% url 'song-detail' song.spotify_id %}" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
        {% endfor %}

      </table>

    </div>
  </div>
</div>


{% endblock %}
