@import url("https://fonts.googleapis.com/css?family=Capriola");
/* General */
* {
  font-family: "Capriola";
}

h1 {
  font-family: "Capriola";
  font-size: 10em;
}

a {
  color: #230800 !important;
}

.row {
  margin: 10px;
}

/* Bootstrap */
.custom_underline {
  color: #A9B700 !important;
  text-decoration: none !important;
  outline: 0 !important;
  border-bottom: solid 1px transparent !important;
  -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
.custom_underline:hover {
  color: #596700 !important;
  border-bottom: solid 2px #596700 !important;
}

/* Navigation */
.navbar {
  background-color: #F2E5D7;
}
.navbar .nav-item {
  border-radius: 5px;
  background-color: #fff;
  margin-left: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navbar .nav-item:hover {
  box-shadow: 0 5px 10px rgba(169, 183, 0, 0.25), 0 7px 7px rgba(169, 183, 0, 0.22);
}
.navbar .nav-link {
  color: #C9D720 !important;
}
.navbar .nav-link :after {
  color: #A9B700 !important;
}

.navbar-brand {
  color: #230800;
}

.navbar-toggler {
  background-color: #C9D720 !important;
  width: 47px;
  height: 34px;
}
.navbar-toggler .line {
  background-color: #fff !important;
  width: 100%;
  float: left;
  height: 3px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.navbar-toggler:hover {
  border-color: #A9B700;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-pills .active {
  background-color: #C9D720 !important;
  color: #fff !important;
  border: none;
}
.nav-pills .nav-link {
  border: 2px solid #C9D720;
  border-radius: 1rem;
  margin-left: 2px;
  margin-right: 2px;
}

.jumbotron {
  background-color: #F2E5D7 !important;
}
.jumbotron .list-group-item {
  background-color: #F2E5D7 !important;
}

@media screen and (max-width: 991px) {
  .navbar .nav-item {
    padding-left: 5%;
    margin-bottom: 1%;
    box-shadow: none;
  }
  .navbar .nav-item:hover {
    box-shadow: none;
  }
}
/* History entry */
.historyentry {
  background-color: #C9D720;
  border-radius: 5px;
  padding: 3%;
  margin: 3%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.historyentry:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.historyentry-header {
  color: #230800;
}

.historyentry-body {
  background-color: #fff;
  color: #230800;
  border-radius: 5px;
  padding: 3%;
  margin: 3%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.historyentry-body #history-img {
  max-width: 64px;
  max-height: 64px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  margin-bottom: 6px;
}
.historyentry-body .media-body {
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
