
// Fonts
@import url('https://fonts.googleapis.com/css?family=Capriola');

// Variables
@import 'variables';

/* General */
* {
  font-family: 'Capriola';
}

h1 {
  font-family: 'Capriola';
  font-size: 10em;
}

a {
  color: $warm-chocolate !important;
}

.row {
  margin: 10px;
}

/* Bootstrap */

/* Navigation */

.navbar {
  background-color: $icecream-white;
}

.navbar-brand {
  color: $warm-chocolate;
}

.navbar-toggler {
  background-color: $sweet-lime !important;
  width: 47px;
  height: 34px;

  .line {
    background-color: #fff !important;
    width: 100%;
    float: left;
    height: 3px;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  :hover {
    border-color:$dark-sweet-lime; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.nav-item {
  border-radius: 5px;
  background-color: #fff;
  margin-left: 5px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  :hover {
    box-shadow: 0 5px 10px rgba($dark-sweet-lime,0.25), 0 7px 7px rgba($dark-sweet-lime, 0.22);
  }
}

.nav-link {
  color: $sweet-lime !important;
  :after {
    color: $dark-sweet-lime !important;
  }
}

.nav-pills {
  .active {
    background-color: $sweet-lime !important;
    color: #fff !important;
  }
}

.jumbotron {
  background-color: $icecream-white !important;
  .list-group-item {
    background-color: $icecream-white !important;
  }
}

@media screen and (max-width: 991px) {
  .nav-item {
    padding-left: 5%;
    margin-bottom: 1%;

    :hover {
      box-shadow: none;
    }
  }
}

/* History entry */

.historyentry {
  background-color: $old-faded-pink;
  color: $icecream-white;
  border-radius: 5px;
  padding: 3%;
  margin: 3%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  :hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.historyentry-header {
  //
}

.historyentry-body {
  background-color: $icecream-white;
  color: $warm-chocolate;
  border-radius: 5px;
  padding: 3%;
  margin: 3%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);

  img {
    max-width: 50%;
  }
}

