
// Fonts
@import url('https://fonts.googleapis.com/css?family=Capriola');

// Variables
@import 'variables';

/* General */
h1 {
  font-family: 'Capriola';
  font-size: 10em;
}

.row {
  margin: 10px;
}

