{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{% for analys in analysis %}
<div class="historyentry">
    <div class="historyentry-header">
        <h5>On the {{ analys.created }}</h5>
    </div>
    <div class="historyentry-body">
        <div class="media">
            <p class="media-body">
                You analyse made a(n) {{analys.datasource_type}} analysis.
            </p>
            <img src="static/note_icon.png" alt="datasource thumbnail" id="history-img" class="rounded ml-3">
        </div>
        <div class="">
            <p>Here's the average statistics:</p>
            <ul>
                <li>Acousticness: {{analys.summarised_audio_features.acousticness|floatformat:2}}</li>
                <li>Danceability: {{analys.summarised_audio_features.danceability|floatformat:2}}</li>
                <li>Energy: {{analys.summarised_audio_features.energy|floatformat:2}}</li>
                <li>Instrumentalness: {{analys.summarised_audio_features.instrumentalness|floatformat:2}}</li>
                <li>Liveness: {{analys.summarised_audio_features.liveness|floatformat:3}}</li>
                <li>Valence: {{analys.summarised_audio_features.valence|floatformat:2}}</li>
                <li>Speechiness: {{analys.summarised_audio_features.speechiness|floatformat:2}}</li>
                <li>Tempo: {{analys.summarised_audio_features.tempo|floatformat}}</li>
            </ul>
        </div>
        <div class="" id="graph{{ analys.id }}" style="height: 350px;"></div>
    </div>
</div>
{% endfor %}

