{% load bootstrap4 %}
{% bootstrap_css %}

{% for analys in analysis %}
<div class="row justify-content-center">
    <div id="entry" class="card">
        <div class="card-header">
            {{ analys.created }}
        </div>
        <div class="card-body">
            <p class="card-title">You analyzed {{ analys.songs_len }} songs</p>
            <ul class="card-text">
                <li>Acousticness: {{analys.summarised_audio_features.acousticness}}</li>
                <li>Danceability: {{analys.summarised_audio_features.danceability}}</li>
                <li>Energy: {{analys.summarised_audio_features.energy}}</li>
                <li>Instrumentalness: {{analys.summarised_audio_features.instrumentalness}}</li>
                <li>Liveness: {{analys.summarised_audio_features.liveness}}</li>
                <li>Valence: {{analys.summarised_audio_features.valence}}</li>
                <li>Speechiness: {{analys.summarised_audio_features.speechiness}}</li>
                <li>Tempo: {{analys.summarised_audio_features.tempo}}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}