{% load bootstrap4 %}
{% bootstrap_css %}
<!--
    Some code is inspired by :
    https://gist.github.com/kshepp/98124b932a6f3dbd95e9
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{%url 'home' %}"> 
                    <img class="navbar-brand" src="/static/LogoV1.png">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Synai</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'songs-list' %}">Songs List </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'feed' %}">Feed</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
            </ul>
        </div>


    </div>
</nav>