{% load static %}

<div class="card-columns">
    {% for playlist in user_playlist %}
    <div class="card">
        <img src="{% static 'note_icon.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ playlist.name }}</h5>
            <p class="card-text">Playlist info like the number of songs, the total time, the subscribers number, etc.</p>
            <p class="card-text"><small class="text-muted">Creation date of the playlist</small></p>
        </div>
    </div>
    {% endfor %}
</div>