{% load static %}

<div class="card-columns" id="cards_playlist">
    {% for playlist in user_playlists %}
    <div class="card" onclick="analysePlaylist('{{playlist.id}}', '{{ playlist.name }}')">
        <a href="#analyse_results" class="custom-card">
        <img src="{{ playlist.image_url }}" class="card-img-top" alt="playlist image of {{ playlist.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ playlist.name }}</h5>
            <p class="card-text">This playlist is owned by {{ playlist.owner }}.</p>
            <p class="card-text"><small class="text-muted">contains {{ playlist.nb_tracks }} songs.</small></p>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
