{% load bootstrap4 %}
{% bootstrap_css %}

<div class="justify-content-center">
    <h2 class="text-center">Recommandations</h2>
    <p class="row justify-content-center">Check out those songs ! We're sure you'll love them ;)</p>
    <ul class="row list-group list-group-flush text-center">
        {% for r_song in recommandations %}
        <li class="list-group-item">
            <iframe src="https://open.spotify.com/embed/track/{{ r_song.spotify_id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </li>
        {% endfor %}
    </ul>
</div>
