{% load static %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
        </thead>
        <tbody>
            {% for entry in user_history %}
            <tr>
                <th scope="row">{{ entry.0 }}</th>
                <td>{{ entry.1 }}</td>
                <td>{{ entry.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>