// Body
$body-bg: #ffffff;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$black: #000;

// Of graphic charts
$sweet-lime: #C9D720;
$dark-sweet-lime: #A9B700;
$darker-sweet-lime: #596700;
$icecream-white: #F2E5D7;
$shadow-grey: #534C45;
$old-faded-pink: #A46449;
$warm-chocolate: #230800;

// Angles
$title-angle: 10deg;
